body {
   text-align: center;
   background-color: #212121;
}
#lamp {
   position: relative;
   max-width: 400px;
   margin: 0 auto;
}

#lamp img {
   width: 400px;
   transition: all .5s ease-in;
}
#lamp-on {
   position: absolute;
   left: 0;
   top: 0;
   opacity: 0;
}

#lamp.active #lamp-on{opacity: 1;}
#lamp.active #lamp-off{opacity: 0;}

.buttons{
   margin-top: 25px;
}